      <h1> Login </h1>  
      <form action="/login.html" method="post">
        
      <fieldset>
       
        <label for="username">E-mail 
          <span style="color:red;">*</span></label>
        <input type="text" name="username" id="username">
          
        <label for="password">Password
         <span style="color:red;">*</span></label>
        <input type="password" name="password" id="password">


         
        <button type="submit">Login</button>
        </fieldset>

      </form>
  

      