
    <header id="main-header">
      <img src="http://36.media.tumblr.com/6de7f30efa3cc4bd60928acbb1e80f22/tumblr_nth9bdnYxG1qi5ntvo1_1280.jpg" height="300" width="400">
      <h1>My Blog</h1>
      <h2 id="layer">My Blog</h2>
      </header>
    <aside>
      <section>
        <h4 class="widget-titles">My Pet</h4>
        <img src="http://i1122.photobucket.com/albums/l540/avalonroad/IMG_3185.jpg">
        <p>Halloween Cat</p>
      </section>
      <section>
           <h4>My favorite colour</h4>
           <p id="blue">Blue</p>
      </section>
      <section>
           <h4>Bucket list</h4>
           <ul>
             <li> Hitchhike across Canada</li>
             <li> Ride a motorcycle to Mexico</li>
             <li> Ride a freight train</li>
            </ul>
      </section>
    </aside>
    <section>
      <header>
      <img src="http://i1122.photobucket.com/albums/l540/avalonroad/skate01.png">
      <article>
        <p>   Hi I'm Dave, welcome to my blog. Let me tell you a bit about myself. As long back as I can remember I have always loved skateboarding. My parents bought me my first skateboard when I was four years old and twenty years later I'm still at it. Skateboarding has brought great joy into my life, although it has also brought a lot of frustration and pain as well. Skateboarding has taught me many life skills and lessons such as putting in hard work and staying determined when the going gets tough. I still skateboard everyday and I couldn't imagine what my life would be like if I had never stepped foot on a board.   </p>
      </article>
        <h2>I built a webpage</h2>
        <h3>September 1st, 2015</h3>
        <h4>&copy; David Craggs</h4>
      </header>
    </section>
