 <h1> Sign up! </h1>  
      <form action="/signup.html" method="post">

      <fieldset>

        <label for="firstname">First name
          <span style="color:red;">*</span></label>
        <input type="text" name="firstname" id="firstname">

        <label for="lastname">Last name
          <span style="color:red;">*</span></label>
        <input type="text" name="lastname" id="lastname">

        <label for="email">E-mail 
          <span style="color:red;">*</span></label>
        <input type="text" name="email" id="email">

        <label for="password2">Password
          <span style="color:red;">*</span></label>
        <input type="password" name="password2" id="password2">
        
        <button type="submit">Sign up!</button>
      
        </fieldset>
 
     </form>